body{
	margin:0px;
	font-family:'Roboto Slab', serif;
	font-weight: 300;
}
ul{
	display:flex;
	position:absolute;
	align-items: center;
	height:20%;
	width:75%;
	margin:0px;
	float:right;
	right:0px;
}
#back{
	width:100%;
	height:100%;
	position: fixed;
	top:0%;
	visibility: hidden;
	background-color: rgba(0,0,0,0.3);
}
li{
	list-style-type: none;
	margin:10px;
}
.log{
	position: absolute;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	color:rgba(255,255,255,0.7);
	font-weight:500;
	border-radius: 3px;
	right:2%;
	top:15%;
}
.log:hover{
	color:rgba(255,255,255,1);;
	cursor:pointer;
}
.log1{
	position: absolute;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	color:rgba(255,255,255,0.7);;
	font-weight:500;
	left:82%;
	top:15%;
	border-radius: 3px;
}
.log1:hover{
	color:rgba(255,255,255,1);
	cursor:pointer;
}
.logo{
	position:relative;
	left:0px;
	height: 20%;
	width:100px;
	display:block;
	margin-left:5%;
}
.moto{
	font-size: 7px;
	letter-spacing: 0.5px;
	font-weight: 400;
	color:white;
	position: relative;
	top:5%;
}
.data{
	width:100%;
	height:800px;
	background-color: white;
}
h1{
	margin: 0px;
	position: relative;
	letter-spacing: 4px;
	font-weight: 500;
	color:#ffffff;
	font-size: 34px;
	top:10%;
}

header{
	position: absolute;
	display: flex;
	width:100%;
	margin:0px;
	margin-left: 0px;
	height:50%;
	margin-right: 0px;
	background: linear-gradient(
		rgba(180,120,225,0.6) 20%, 
		rgba(80, 120,255,0.6) 100%),
		url("images/background.jpg");
	background-size: cover;
}
#menu{
	visibility: hidden;
	width: 0px;
}
#form1{
	height:50%;
	width:55%;
	position:absolute;
    top:25%;
    left:22.5%;
	display: block;
	visibility: hidden;
	background-color:rgb(0,0,20);
}
#form1:before{
	position: absolute;
	top:0%;
	content:'';
	transform:skew(2deg,2deg);
	left:-0.5%;
	right:-0.5%;
	bottom:0%;
	z-index:-1;
	background: linear-gradient(315deg,#e91e63,#5d02ff);
}
.input1:nth-child(1){
    position: absolute;
    height:10%;
    width:50%;
    font-weight:600;
    text-indent: 10px;
	top:15%;
	left:25%;
	font-size: 12px;
}
.input1:nth-child(2){
    position: absolute;
    height:10%;
    width:50%;
    left:25%;
    font-weight:600;
    text-indent: 10px;
	top:35%;
	font-size: 12px;
}
.input1:nth-child(3){
    position: absolute;
    height:10%;
    width:50%;
    font-weight:600;
    text-indent: 10px;
	top:55%;
	left:25%;
	font-size: 12px;
}
.input1:nth-child(4){
    position: absolute;
    height:10%;
    width:15%;
    font-weight:600;
    background-color: #dd1361;
	top:75%;
	left:42.5%;
	font-size: 12px;
	cursor:pointer;
	border:none;
	border-radius: 3px;
}
.input1:nth-child(4):hover{
	box-shadow: 0px 0px 4px 0.4px rgb(255,0,0);
}
#form{
	height:50%;
	width:55%;
	position:absolute;
    top:25%;
    left:22.5%;
	display: block;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	background-color:rgba(0,0,20);
}
#form:before{
	position: absolute;
	top:0%;
	content:'';
	transform:skew(2deg,2deg);
	left:-0.5%;
	right:-0.5%;
	bottom:0%;
	z-index:-1;
	background: linear-gradient(315deg,#e91e63,#5d02ff);
}
.switch{
	position: absolute;
	display:flex;
	top:0px;
	right:2%;
	top:45%;
	height:10%;
	justify-content: center;
	align-items: center;
	font-size:60px;
	width:10%;
	background:linear-gradient(#5d02ff 30%,#e91e63 100%);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip: text;
}
.switch:hover{
	font-size: 50px;
	cursor:pointer;
}
.switch1{
	position: absolute;
	display:flex;
	top:0px;
	left:2%;
	top:45%;
	height:10%;
	justify-content: center;
	align-items: center;
	font-size:60px;
	width:10%;
	background:linear-gradient(#5d02ff 10%,#e91e63 100%);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip: text;
}
.switch1:hover{
	font-size: 50px;
	cursor:pointer;
}
.switch2{
	position: absolute;
	top:3%;
	right:0%;
	height:10%;
	font-size:20px;
	width:10%;
	background:linear-gradient(#5d02ff 10%,#e91e63 100%);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip: text;
}
.switch2:hover{
	font-size: 18px;
	cursor:pointer;
}
.switch3{
	position: absolute;
	top:3%;
	right:0%;
	height:10%;
	font-size:20px;
	width:10%;
	background:linear-gradient(#5d02ff 10%,#e91e63 100%);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip: text;
}
.switch3:hover{
	font-size: 18px;
	cursor:pointer;
}
.input:nth-child(1){
    position: absolute;
    height:10%;
    width:50%;
    font-weight:600;
    text-indent: 10px;
	top:15%;
	left:25%;
	font-size: 12px;
}
.input:nth-child(2){
    position: absolute;
    height:10%;
    width:50%;
    left:25%;
    font-weight:600;
    text-indent: 10px;
	top:35%;
	font-size: 12px;
}
.input:nth-child(3){
    position: absolute;
    height:10%;
    width:15%;
    font-weight:600;
    background-color: #dd1361;
	top:55%;
	left:42.5%;
	font-size: 12px;
	cursor:pointer;
	border:none;
	border-radius: 3px;
}
a{
	position:absolute;
	top:75%;
	left:43.2%;
	font-size: 14px;

}
.input:nth-child(3):hover{
	box-shadow: 0px 0px 4px 0.4px rgb(255,0,0);
}
#valid{
	position: absolute;
	top:63%;
	display: flex;
	justify-content: center;
	color:red;
	width:100%;
	font-size: 14px;
}
#Uvalid{
	position: absolute;
	top:51%;
	color:red;
	left:3vw;
	font-size: 12px;
}
.check{
	color:rgba(255,255,255,0.7);
	position: absolute;
	font-size:30px;
	height:10%;
	padding-top: 2.5%;
	right:5%;
	visibility: hidden;
}
.check:hover{
	color:rgba(255,255,255,1);
	cursor:pointer;
}
@media (max-width: 1430px){
	header ul li.log1{
		left:81%;
	}
	a{
		left:42%;
	}
}
@media (max-width: 1195px){
	header ul li.log1{
		left:79%;
	}
	a{
		left:41%;
	}
}
@media (max-width: 1130px){
	header ul li.log1{
		left:77%;
	}
	a{
		left:40%;
	}
}
@media (max-width: 1000px){
	header ul li.log1{
		left:75%;
	}
	a{
		left:39%;
	}
}
@media (max-width: 900px){
	header ul li.log1{
		left:72%;
	}
	a{
		left:38%;
	}
}
@media (max-width: 750px){
	header ul li.log1{
		left:65%;
	}
	a{
		left:35%;
	}
}
@media (max-width: 625px){
	header ul li.log1{
		left:58%;
	}
	a{
		left:32%;
	}
}
@media (max-width: 500px){
	header ul li.log1{
		visibility: hidden;
	}
	header ul li.log{
		visibility: hidden;
	}
	header label.check{
		visibility: visible;
	}
	header span.logo h1{
		font-size: 30px; 
		letter-spacing: 3px;
		height:36px;
	}
	header span.logo div.moto{
		font-size:6px;
		
	}
	.input:nth-child(3){
		font-size: 10px;
	}
	a{
		left:29%;
	}
}