/*====Body Section====*/
body{
	background-color: #20B2AA;
	margin: 0px;
	padding: 0px;
}
/*====Main heading====*/
#heading{
	text-align: center;
	background-color: #BDB76B;
	border-radius: 10px;
	margin: 5px;
	margin-bottom: 0px;
	padding: 5px;
	color: #800000;
}

/*====NAVIGATION====*/
div.nav{
	margin-top: 5px;
	background-color: #BDB76B;
	padding: 2px;
}

div.nav ul{
	text-align: center;
	list-style: none;
	vertical-align: middle;
	border-radius: 10px;
	margin: 5px;
	margin-top: 5px;
	padding: 10px;
}

div.nav ul li{
	display: inline;
	margin: 2px;
	padding: 5px;
	vertical-align: middle;	
}

div.nav ul li a{
	text-decoration: none;
	color: #DF8F04;
	background-color: #431A16;
	margin: 5px;
	padding: 6px; 
	border-radius: 5px;
}

div.nav ul li a:hover{
	color: #431A16;
	background-color: #DF8F04;
	
}

/*====Content Heading====*/
div{
	border-radius: 10px;
	margin: 5px;
	margin-bottom: 0px;
	padding: 10px;
	color: #800000;
}

div.sidebar{
	background-color: #e5e4d7;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px;
	font-size: 105%;
	float: right;
	width: 300px;
	clear: right;
}

div.text {
	background-color: #e5e4d7;
	margin-left: 5px;
	margin-right: 320px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	padding: 5px;
	padding-top: 2px;
	font-size: 110%;
}


div.intro{
	background-color: #e5e4d7;
}

div.intro p{
	color: black;
}
