/*====Body Section====*/
body{
	background-color: #20B2AA;
	margin: 0px;
	padding: 0px;
}
/*====Main heading====*/
#heading{
	text-align: center;
	background-color: #BDB76B;
	border-radius: 10px;
	margin: 0.5em;
	margin-bottom: 0em;
	padding: 0.5em;
	color: #800000;
}

/*====NAVIGATION====*/
nav.nav{
	
}

nav.nav ul{
	text-align: center;
	list-style: none;
	vertical-align: middle;
	background-color: #BDB76B;
	border-radius: 10px;
	margin: 0.5em;
	margin-top: 0.5em;
	padding: 1em;
}

nav.nav ul li{
	display: inline;
	margin: 2px;
	padding: 5px;
	vertical-align: middle;	
}

nav.nav ul li a{
	text-decoration: none;
	color: #DF8F04;
	background-color: #431A16;
	margin: 0.6em;
	padding: 0.7em; 
	border-radius: 5px;
}

nav.nav ul li a:hover{
	color: #431A16;
	background-color: #DF8F04;
	
}

/*====Content Heading====*/
div{
	background-color: #BDB76B;
	border-radius: 10px;
	margin: 0.5em;
	margin-bottom: 0em;
	padding: 1em;
	color: #800000;
}

div.post div{
	display: inline;
	background-color: #AFEEEE;
	padding: 0.5em;
	margin: 0.2em;
}
div.post div a{
	color: black;
	padding: 0.2em;
}

div.post div.float_right{
	float: right;
	margin-top: 0em;
}